*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#SEO{
    display: none;
}

.header-display{
    background-color: cadetblue;
    display: flex;
    flex-flow:row;
    justify-content: space-between;
    align-items: center;

}
nav a{
        text-decoration: none;
        color: cadetblue;
        font-size: 14px;
        background-color: white;
        padding: 0.5rem;
        border-radius: 1rem;
        font-weight: 600;
}
.mind{
    color: white;
    margin-right: 0.5rem;
}

#Canada{
    display: flex;
    object-fit: contain;
    width: 10vw;
    height: 10vw;
    justify-content: center;
  
}
#China{
    display: flex;
    object-fit: contain;
    width: 10vw;
    height: 10vw;
    justify-content: center;
}
#Australia{
    display: flex;
    object-fit: contain;
    width: 10vw;
    height: 10vw;
    justify-content: center;
}
.info{
    display: flex;
    flex-flow: row;
    justify-content: center;
    padding: 0.5rem;
    gap: 2%;
}
.first-image{
   background-image: url(../images/banner.jpg);
   width: 100%;
   height: 20rem;
   object-fit: contain;
   align-items: center;
   background-position: 20%;
   background-size:cover;
}
.tittle{
    background-color: cadetblue;
    justify-content: center;
    text-align: center;
    font-size: medium;
    color: white;
}
.art-1{
    display: flex;
    background-color: cadetblue;
    justify-content: center;
    padding-top: 2%;
    flex-flow: column;
}
.art-2{
    display: flex;
    background-color: cadetblue;
    justify-content: center;
    padding-top: 2%;
    flex-flow: column;
}
.art-3{
    display: flex;
    background-color: cadetblue;
    justify-content: center;
    padding-top: 2%;
    flex-flow: column;
}
.info{
    background-color: lightcyan;
    justify-content: center;
    padding-top: 1rem;
}
h2{
    color: white;
    text-align: center;
}
p{
    color: white;
    text-align: left;
    font-size: small;
}
.info-2{
    background-color: cadetblue;
    justify-content: center;
    text-align: center;
    font-size: medium;
    color: white;
    font-size: medium;
    padding-top: 2%;
    width: 15rem;
    height: 15rem;
}
table,tr,th,td{
    border-collapse: collapse;
     border: 2px solid white;
     text-align: center;
 }
.table-cp{
    text-align: center;
    justify-content: center;
    margin-left: 2.5rem;
    margin-top: 2rem;
}
 .footer-f{
    display: flex;
    flex-flow: row;
 }
 footer{
    background-color: cadetblue;
    justify-content: space-between;
    align-items: center;
 }
 .list{
    display: flex;
    flex-flow: column;
    font-size: small;
 }
 .div-1{
    display: flex;
    padding-top: 2%;
    flex-flow: column;
    border-radius: 1rem;
 }
 .div-2{
    display: flex;
    padding-top: 2%;
    flex-flow: column;
    border-radius: 6rem;
 }
 @media (min-width:320px) and (max-width:480px){
    .body-h{
        flex-direction: column;
    }
    .header{
        flex-direction: row;
    }
}

@media (min-width:481px) and (max-width:768px){
    .body-h{
        flex-direction: column;
    }
    .header{
        flex-direction: row;
    }

}
@media (min-width:769px) and (max-width:1024px){
    .body-h{
        flex-direction: column;
    }
    .header{
        flex-direction: row;
    }

}


